# ===== .NET =====
bin/
obj/
*.user
*.suo

# ===== Angular =====
node_modules/
dist/
.angular/

# ===== Environment =====
appsettings.Development.json
environment.ts

# ===== Editors =====
.vscode/
.idea/
