<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <!-- Left side: Logo -->
<div>
 <img
  src="https://static.vecteezy.com/system/resources/previews/005/009/954/large_2x/phoenix-logo-design-free-vector.jpg"
  alt="Logo"
  class="logo-img"
/>
</div>



    <!-- Right side: Icons -->
    <div class="d-flex ms-auto align-items-center">
      <!-- Notification -->
      <button class="btn btn-link position-relative me-3">
        <i class="bi bi-bell fs-4"></i>
        <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          3
        </span> -->
      </button>

      <!-- Change Password -->
      <button class="btn btn-link me-3">
        <i class="bi bi-key fs-4"></i>
      </button>

      <!-- Logout -->
      <button class="btn btn-link">
        <i class="bi bi-box-arrow-right fs-4"></i>
      </button>
    </div>
  </div>
</nav>
