.profile-page {
   background: linear-gradient(135deg,#1f7a8c,#2ec4b6,#a8dadc);
  padding: 25px;
  min-height: 100vh;
}

/* Header Card */
/* .profile-header{
  background: linear-gradient(135deg,#1f7a8c,#2ec4b6,#a8dadc);;
  color: rgb(5, 4, 4);
  border-radius: 18px;
  border: none;
} */

/* Profile Image */
.profile-pic-wrapper{
  position: relative;
}

.profile-pic{
  width:110px;
  height:110px;
  border-radius:50%;
  border:4px solid #fff;
  object-fit:cover;
}

/* Camera Button */
.camera-btn{
  position:absolute;
  bottom:0;
  right:0;
  border-radius:50%;
  padding:6px 8px;
  background:#88d3cb;
  border:none;
}

.camera-btn:hover{
  background:#0f766e;
}

/* Tabs */
.nav-tabs .nav-link{
  border-radius:8px;
  color:#0f766e;
  font-weight:600;
}

.nav-tabs .nav-link.active{
  background: linear-gradient(135deg,#0f766e,#14b8a6);
  color:#ffffff;
  border:none;
}
.card{
  border-radius: 16px;
  border: none;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
  color: #063b3b;
}


.card:hover{
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* Info Grid */
.info-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:12px;
  font-size:14px;
}

.label{
  color:#0f766e;
  font-weight:600;
}

/* Responsive */
@media(max-width:768px){
  .profile-pic{
    width:90px;
    height:90px;
  }
}
