/* Ensure toast container is always on top */
#toast-container {
  z-index: 9999 !important;
  position: fixed;
     /* optional for top-right position */
  width: auto;
  max-width: 350px;  /* max width for toast */
}
/* Success toast */
#toast-container .toast-success {
  background-color: #4caf50; /* green */
  color: #fff;
}
#toast-container.toast-top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
}


.login-page {
  height: 100vh;
  width: 100%;
  background: url('/assets/Login.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
    align-items: center;       /* vertical centering */
  justify-content: flex-start; /* start from left */
  padding-left: 25rem; 
  
}

.custom-login-form {

  width: 360px;


  background-color: rgba(255, 255, 255, 0.95);
  padding: 4rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s, box-shadow 0.3s;
    
}

.custom-login-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
}


.custom-login-form h3 {
  font-weight: 600;
  color: #333;
}

.custom-login-form a {
  color: linear-gradient(180deg, #1e3a8a, #2563eb);
  font-size: 0.9rem;
}

.custom-login-form a:hover {
  text-decoration: underline;
}
