.section-card {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  color: #0d6efd;
  margin-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
}

label {
  font-size: 12px;
  font-weight: 500;
}

.form-control,
.form-select {
  height: 34px;
  font-size: 13px;
  padding: 4px 8px;
}


fieldset.legend-border {
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  padding: 1.5rem 1rem 1rem 1rem;
  position: relative;
}

fieldset.legend-border legend {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0d6efd; /* Bootstrap primary */
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
  width: auto;

  /* Keep top border visible */
  border: 1px solid transparent;
}
