<nav class="side-nav">
  <div class="nav-item profile">
    <i class="bi bi-person-circle"></i>
    <span class="nav-text">Employee</span>
  </div>

  <div class="nav-item">
    <i class="bi bi-house"></i>
    <span class="nav-text">Dashboard</span>
  </div>

  <div class="nav-item">
    <i class="bi bi-calendar-check"></i>
    <span class="nav-text">Profile</span>
  </div>

  <div class="nav-item">
    <i class="bi bi-envelope"></i>
    <span class="nav-text">Messages</span>
  </div>

  <div class="nav-item bottom">
    <i class="bi bi-box-arrow-right"></i>
    <span class="nav-text">Logout</span>
  </div>
</nav>
